.route-enter{
    opacity: 0.01;
    transform: translate3d(0%,0,0);
}
.route-enter.route-enter-active{
    transform: translate3d(0,0,0);
    opacity: 1;
    transition: opacity 0.3s ease-in;
}
.route-leave{
    opacity: 1;
    transform: translate3d(0,0,0);
}
.route-leave.route-leave-active{
    transform: translate3d(0%,0,0);
    opacity: 0.01;
    transition: opacity 0.3s ease-out;
}